[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.package]
version = "0.0.1"
edition = "2024"

[workspace.lints.clippy]
only_used_in_recursion = "allow"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
