@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root {
  --vp-c-brand-1: #1fb356;
  --vp-c-brand-2: #16a34a;
  --vp-c-brand-3: #169143;
  --vp-c-brand-soft: rgba(31, 179, 86, 0.14);

  --vp-font-family-base: 'Domine', serif;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #22c55e 30%, #10b981);

  --vp-home-hero-image-background-image: linear-gradient(45deg, #22c55e40, #86efac40);
  --vp-home-hero-image-filter: blur(96px);
}

.dark {
  --vp-c-brand-1: #4ade80;
  --vp-c-brand-2: #22c55e;
  --vp-c-brand-3: #16a34a;
  --vp-c-brand-soft: rgba(74, 222, 128, 0.16);
}
